h1 {
    color: cadetblue
}

h2 {
    color: darkcyan
}

p {
    color: darkorange
}

<<<<<<< HEAD
img.logo {
    max-width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px
}


img.main-images {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px
}
